# Ignore PDF and ZIP files generated during labs
*.pdf
*.zip
*.rar
*.tar.gz

# Ignore LaTeX compilation temporary files (if any are inside)
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc

# Ignore standard OS temp files
.DS_Store
Thumbs.db
